.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.adventures-list,
.adventures-sub-title {
  list-style: none;
}

body {
  font-family: 'Gothic A1', sans-serif;
}

.adventures-sub-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
}
