.adventures {
  padding-top: 80px;
  text-align: center;

  &__ul * {
    vertical-align: middle;
  }

  &__item:not(:last-child) {
    margin-bottom: 160px;
  }

  &__item:nth-child(even) {
    direction: rtl;
  }

  &__inline {
    display: inline-block;
    max-width: 450px;
    padding-left: 58px;
    padding-right: 86px;
    text-align: left;
  }

  &__img {
    display: inline-block;
    max-width: 100%;
  }

  &__sub-title {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a8a8a8;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    color: #000000;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.88;
    color: #6b6b6b;
  }
}
