.aenean {
  background-color: #1b1b1b;
  padding: 80px 120px 0 120px;
  text-align: center;

  &__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a8a8a8;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 38px;
    line-height: 48px;
    color: #ffffff;
    margin-bottom: 55px;
  }
}
