.section {
  padding-left: 72px;
  padding-right: 72px;
}

.aenean__description {
  margin-top: 188px;
  margin-bottom: 188px;
  width: 450px;
  height: 256;
  padding-left: 58px;
  padding-right: 86px;
}
