

// .container-dishes {
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
//     padding-right: 144px;
//     padding-left: 144px;
//     outline: 2px solid tomato;
// }

// .dishes-burgers{
//     display: flex;
//     width: 1296px;
//     height: 414px;
// }

.dishes-list{
    // padding-left: 72px;
    // padding-right: 72px;
}
.dishes-item-burger{
    display: flex;
    margin-bottom: 161px;
}

.dishes-burger {
    padding: 0 62px 3px 58px;
}

.dishes-item-salat{
    display: flex;
    flex-direction: row-reverse;
}

.dishes-salat {
    padding: 0 62px 3px 58px;
}

.dishes-title {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}

.dishes-name {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2em;
    color: #000000;
        }

.dishes-text{
font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8em;
    color: #6B6B6B;
}

// .dishes-img{
//         position: relative;
//         width: 519px;
//         height: 414px;
//         left: calc(50% - 519px/2 + 0.5px);
//         top: calc(50% - 414px/2);
//         border-radius: 0px;
// }

