.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;}

.container-dishes {
    margin-left: auto;
    margin-right: auto;
    padding-right: 144px;
    padding-left: 144px;
    outline: 2px solid tomato;
}

.dishes-list{
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}

.dishes-item{

}


.dishes-name {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    color: #000000;
        }

.dishes-text{
font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #6B6B6B;
}

