.dishes {
  padding-top: 160px;
}

.dishes-list * {
  font-size: 0;
  vertical-align: middle;
  text-align: center;
}

.dishes-item-burger {
  margin-bottom: 161px;
}

.dishes-burger {
  display: inline-block;
  max-width: 450px;
}

.dishes-item-salat {
  direction: rtl;
}

.dishes-salat {
  display: inline-block;
  max-width: 450px;
}

.dishes-title {
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a8a8a8;
  margin-bottom: 20px;
}

.dishes-name {
  font-size: 38px;
  line-height: 1.2em;
  margin-bottom: 27px;
}

.dishes-text {
  font-size: 16px;
  line-height: 1.8em;
  color: #6b6b6b;
}

.dishes-img {
  display: inline-block;
  max-width: 100%;
}
