.footer {
  height: 242px;
  background-color: #1b1b1b;
  text-align: center;

  &__logo {
    display: inline-block;
    margin-bottom: 29px;
  }

  &__list {
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-size: 12px;
    line-height: 1.68;
    color: #6b6b6b;
    transition: color 250ms;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}
