.get-section{


}


.title{
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 1.26;
text-align: center;
color: #FFFFFF;
margin-bottom: 20px;
}

.text{
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
text-align: center;
color: #6B6B6B;
margin-bottom: 40px;
}

.js-open-modal{
    display: block;
    width: 465px;
    height: 70px;
    
}