.get-section{
background-color: #1B1B1B;
padding-top: 129px;
padding-bottom: 126px;
padding-left: 488px;
padding-right: 486px;
}


.title{
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 1.26;
text-align: center;
color: #FFFFFF;
margin-bottom: 20px;
}

.text{
font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
text-align: center;
color: #6B6B6B;
margin-bottom: 40px;
}

.js-open-modal{
    display: block;
    width: 465px;
    height: 70px;
    
}

.sub-form {
    display: flex;
    justify-content: center;
}
.subscribe-mail {
    background-color: #ffffff;
    box-shadow: 0px 0px 0px #FC0A7E;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 311px;
    height: 70px;
  &::placeholder {
    color: #1c1c1c;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

  }

}
.subscribe-btn {
    width: 154px;
    height: 70px;
    padding: 20px 40px;
    background-color: rgba(252, 10, 126, 1);
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #1c1c1c;
    border-radius: 0px 3px 3px 0px;
    border: none;

}