.get {
  background-color: #1b1b1b;
  height: 463px;
  text-align: center;
  display: table-cell;
  width: 100vw;
  vertical-align: middle;

  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    color: #fff;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 40px;
  }

  // .js-open-modal{
  //     display: block;
  //     width: 465px;
  //     height: 70px;

  // }

  &__mail {
    vertical-align: middle;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px #fc0a7e;
    border-radius: 3px 0px 0px 3px;
    font-size: 16px;
    padding: 22px 155px 22px 3px;
    height: 70px;
    &::placeholder {
      color: #1c1c1c;
      font-size: 16px;
      line-height: 1.62;
    }
  }
  
  &__btn {
    vertical-align: middle;
    height: 70px;
    padding: 22px 40px;
    background-color: rgba(252, 10, 126, 1);
    font-size: 16px;
    line-height: 1.6;
    color: #1c1c1c;
    border-radius: 0px 3px 3px 0px;
  }
}
