/*===================header==================== */
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 29px 0 28px 0;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 144px;
  padding-right: 144px;
  // max-width: 1152px;
}
.nav-item{
  display: inline-block;
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}
.nav-item:first-child {
  margin-left: 15px;
}
.nav-item:last-child {
  margin-right: 15px;
}
.nav-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #fff;
}
