.partners {
  padding-top: 102px;

  &__ul {
    text-align: center;
    // transform: scale(var(--trickyScale));
  }

  &__href {
  }

  &__li {
    display: inline-block;
    // width: 14vw;
  }

  &__li:not(:last-child) {
    margin-right: 200px;
  }

  &__svg:hover,
  &__svg:focus {
    transform: scale(1.2, 1.2) rotateY(360deg);
  }

  &__svg {
    max-width: 115px;
    max-height: 115px;
    color: #a8a8a8;
    fill: currentColor;
    transition-property: transform;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
