.ready {
  max-width: 1440px;
  height: 474px;
  background: url(../images/wave-group.png),
    linear-gradient(276.18deg, #6e28b1 0%, rgba(0, 0, 0, 0) 100%), #fc0a7e;
  text-align: center;
  display: table;
  width: 100%;

  &__div {
    display: table-cell;
    vertical-align: middle;
  }

  &__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    color: #fff;
    margin-bottom: 40px;
  }

  &__wrapper {
    font-size: 0;
  }

  &__download {
    background-color: #fc0a7e;
    font-size: 16px;
    line-height: 1.62;
    color: #fff;
    padding: 20px 40px;
    border: none;
    margin-right: 10px;
  }

  &__get {
    background-color: transparent;
    font-size: 16px;
    line-height: 1.62;
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #b04bb3;
  }
}
