

.section-ready {
    padding-top: 165px;
    padding-right: 522px;
    padding-bottom: 155px;
    padding-left: 522px;
    background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 100%), #FC0A7E;    
    border-radius: 0px;
    background-image: url(../images/bg-image-wave.png);
    background-position: center;
    // opacity: 0.25;
    

}

.section-title {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-ready {
    display: flex;
    list-style: none;
}


.link-ready {
    width: 190px;
    height: 66px;
    padding: 20px 40px;
    background: none;
    // background-color: rgba(252, 10, 126, 1);
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #FFFFFF;
    &:focus,
    &:hover {
            background: #FC0A7E;
        }    
    }

.link-ready:not(first-child) {
    margin-left: 10px;
}