.statistic {
  padding-top: 160px;

  &__ul {
    text-align: center;
  }

  &__item {
    margin-left: 110px;
    margin-right: 110px;
    display: inline-block;
    text-align: center;
  }

  &__text {
    display: block;
    margin-bottom: 10px;
    font-family: 'Gothic A1';
    font-size: 59px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
  }

  &__name {
    font-family: 'Gothic A1';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
  }

  &__name--origin {
    font-weight: 400;
  }
}
