.statistic {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  margin-top: 163px;
  margin-bottom: 170px;
}

.statistic-item {
  //   width: 324px;
  //   height: 134px;
  padding: 0 97px 44px 98px;
}

.statistic-text {
  display: block;

  font-family: 'Gothic A1';
  font-size: 59px;
  line-height: 1.5;
  text-align: center;

  color: #333333;
}

.statistic-name {
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;

  color: #000000;
}

.statistic-name-origin {
  font-weight: 400;
}
