/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './base';
@import './header';
@import './hero';
@import './aenean';
@import './advetures';
@import './organizer';
@import './statistic';
@import './dishes';
@import './citata';
@import './partners';
@import './mobile';
@import './ready';
@import './updates';
@import './footer';
@import './modal';
@import './get';
