@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/*==============global style reset============= */
body {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*===================general==================== */
.container {
  /* outline: 1px solid rgb(17, 0, 255); */
  width: 1180px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
}

/*===================header==================== */
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 29px 0 28px 0;
}

.page-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item item:not(:last-child) {
  margin-right: 30px;
}

.nav-item item:last-child {
  margin-right: 15px;
}

.nav-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: var(--main-color);
}

.hero {
  padding-top: 298px;
  padding-bottom: 278px;
  background: url(../images/img-hero-min.png), linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
  background-repeat: no-repeat, no-repeat;
  background-position: right 44px bottom 0px, center;
}

.hero-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  color: #ffffff;
}

.hero-btn {
  display: block;
  height: 66px;
  padding: 20px 40px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background: #fc0a7e;
}

.section {
  padding-left: 72px;
  padding-right: 72px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1296px;
  padding-right: 144px;
  padding-left: 144px;
  outline: 2px solid tomato;
}

.aenean__description {
  margin-top: 188px;
  margin-bottom: 188px;
  width: 450px;
  height: 256;
  padding-left: 58px;
  padding-right: 86px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.adventures-list,
.adventures-sub-title {
  list-style: none;
}

body {
  font-family: 'Gothic A1', sans-serif;
}

.adventures-sub-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.organizer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.organizer-sub-title {
  font-family: 'Gothic A1';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #000000;
}

.organizer-text {
  width: 370px;
  height: 90px;
  font-family: 'Gothic A1';
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #6b6b6b;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.statistic-list {
  width: 324px;
  height: 134px;
  padding: 0 97px 44px 98px;
}

.statistic-text {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.5;
  text-align: center;
}

.statistic-name {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dishes-title {
  font-size: 12px;
  line-height: 1.67px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}

.dishes-name {
  font-size: 38px;
  line-height: 1.26px;
  color: #000000;
}

.dishes-text {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #6B6B6B;
}

.dishes-text {
  font-size: 16px;
  line-height: 1.88px;
  color: #6B6B6B;
}

.container {
  width: 1035px;
  margin: 0 auto;
}

.text-citata {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.66;
  text-align: center;
  color: #6B6B6B;
}

.partners {
  list-style: none;
}

.partners__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.partners__href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__li {
  width: 14vw;
}

.partners__li:not(:last-child) {
  margin-right: 30px;
}

.partners__svg:hover, .partners__svg:focus {
  -webkit-transform: scale(1.2, 1.2) rotateY(360deg);
          transform: scale(1.2, 1.2) rotateY(360deg);
}

.partners__svg {
  width: 100px;
  height: 100px;
  color: #a8a8a8;
  fill: currentColor;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1440px;
  height: 518px;
}

.mobile-section {
  margin-left: auto;
  margin-right: auto;
}

.container-ready {
  padding-top: 165px;
  padding-right: 522px;
  padding-bottom: 155px;
  padding-left: 522px;
  background: linear-gradient(276.18deg, #6E28B1 0%, rgba(0, 0, 0, 0) 100%), #FC0A7E;
  border-radius: 0px;
}

.title-ready {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.link-ready {
  width: 190px;
  height: 66px;
  padding: 20px 40px;
  background-color: #fc0a7e;
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #FFFFFF;
}

.link-ready:not(first-child) {
  margin-left: 10px;
}

.footer {
  background-color: #1b1b1b;
  padding-top: 20px;
}

.footer-wraper {
  width: 575px;
  height: 242.08px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address-item {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 30px;
}

.footer-address-item:last-child {
  margin-right: 0;
}

.footer-address-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.68;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  color: #6B6B6B;
}

.richard-logo-footer {
  display: block;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  -webkit-transition: .3s all;
  transition: .3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  -webkit-box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
/*# sourceMappingURL=main.css.map */