@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/*==============global style reset============= */
body {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*===================general==================== */
.container {
  /* outline: 1px solid rgb(17, 0, 255); */
  width: 1180px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 auto;
}

/*===================header==================== */
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 29px 0 28px 0;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item item:not(:last-child) {
  margin-right: 30px;
}

.nav-item item:last-child {
  margin-right: 15px;
}

.nav-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: var(--main-color);
}

.hero {
  padding-top: 298px;
  padding-bottom: 278px;
  background: url(../images/img-hero-min.png), linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
  background-repeat: no-repeat, no-repeat;
  background-position: right 44px bottom 0px, center;
}

.hero-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.47;
  color: #ffffff;
}

.hero-btn {
  display: block;
  height: 66px;
  padding: 20px 40px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background: #fc0a7e;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять *//*# sourceMappingURL=main.css.map */