<section>
    <h2 class="visually-hidden">Advetures</h2>

    <ul>
        <li>
            <h3 class="adventures-sub-title">Aenean Consectetur</h3>
            <p class="adventures-title">Cay sociis nato que penatibus et</p>
            <p class="adventures-after-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
            <img src="" alt="Cay sociis nato que penatibus et" width="558" />
        </li>
        <li>
            <h3 class="adventures-sub-title">ConsectUltricies</h3>
            <p class="adventures-title">Amet Ipsum</p>
            <p class="adventures-after-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
            <img src="" alt="Amet Ipsum" width="558" />
        </li>
        <li>
            <h3 class="adventures-sub-title">Aenean Consectetur Porta</h3>
            <p class="adventures-title">Magna Porta Sit Bibendum</p>
            <p class="adventures-after-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
            <img src="" alt="Magna Porta Sit Bibendum" width="558" />
        </li>
    </ul>
</section>