<section class="aenean section">
  <div class="container">
    <div class="aenean__description">
      <h3 class="aenean__pre-title">Aenean Consectetur Porta</h3>
      <h2 class="aenean__title">Cay sociis nato que penatibus et</h2>
      <p class="aenean__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </div>
    <img class="aenean__image" src="images/aenean.png" alt="phone" />
  </div>
</section>
