<section class="citata">
    <h2 class="visually-hidden">Citata</h2>
    <svg class="citata-marks"><use href="images/icons.svg#icon-marks"></use></svg>
    <p class="citata-text">
      HeadNulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat
      porttitor ligula, eget lacinia odio sem nec elit. Pus sit amet fermentum. Donec id elit non mi
      porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.ing
    </p>
    <div class="citata-signature">
      <p class="citata-name">Joshua Home</p>
      <span class="citata-dash"></span> 
      <p class="citata-newspaper">New York Times</p>
    </div>
      <span class="citata-period"></span>
      <span class="citata-period-color"></span>
</section>
