<section class="dishes">
  <h2 class="visually-hidden">dishes</h2>
    <ul class="dishes-list">
      <li class="dishes-item-burger">
        <div class="dishes-burger">
          <h3 class="dishes-title">Aenean Consectetur Porta</h3>
          <h4 class="dishes-name">Sem Risus Elit Vestibulum</h4>
          <p class="dishes-text">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
            erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
            malesuada magna mollis euismod.
          </p>
        </div>
        <img class="dishes-img" src="images/burgers-558-414.jpg" alt="burgers" />
      </li>
      <li class="dishes-item-salat">
        <div class="dishes-salat">
          <h3 class="dishes-title">Aenean Consectetur Porta</h3>
          <h4 class="dishes-name">Parturient Tortor</h4>
          <p class="dishes-text">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
            erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
            malesuada magna mollis euismod.
          </p>
        </div>
        <img class="dishes-img" src="images/salat-558-414.jpg" alt="salat" />
      </li>
    </ul>
</section>