<section>
  <h2 class="visually-hidden">dishes</h2>
  <ul>
    <li>
      <h3>Aenean Consectetur Porta</h3>
      <p>Sem Risus Elit Vestibulum</p>
      <p>
        Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus
        sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
        malesuada magna mollis euismod.
      </p>
      <img src="" alt="burgers" />
    </li>
    <li>
      <h3>Aenean Consectetur Porta</h3>
      <p>Parturient Tortor</p>
      <p>
        Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus
        sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
        malesuada magna mollis euismod.
      </p>
      <img src="" alt="salat" />
    </li>
  </ul>
</section>