<section class="dishes">
  <h2 class="visually-hidden">dishes</h2>
    <ul class="dishes__list">
      <li class="dishes__item-burger">
        <div class="dishes__burger">
          <h3 class="dishes__title">Aenean Consectetur Porta</h3>
          <h4 class="dishes__name">Sem Risus Elit Vestibulum</h4>
          <p class="dishes__text">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
            erat porttitor ligula, eget lacinia odio sem nec elit. <span class="dishes__mat">Cras mattis consectetur</span> purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
            malesuada magna mollis euismod.
          </p>
        </div>
        <img class="dishes__img" src="images/burgers-558-414.jpg" alt="burgers" />
      </li>
      <li class="dishes__item-salat">
        <div class="dishes__salat">
          <h3 class="dishes__title">Aenean Consectetur Porta</h3>
          <h4 class="dishes__name">Parturient Tortor</h4>
          <p class="dishes__text">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi
            erat porttitor ligula, eget lacinia odio sem nec elit. <span class="dishes__mat">Cras mattis consectetur</span> purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Etiam porta sem
            malesuada magna mollis euismod.
          </p>
        </div>
        <img class="dishes__img" src="images/salat-558-414.jpg" alt="salat" />
      </li>
    </ul>
</section>