<footer class="footer">
  <a href="./index.html" class="footer__logo">
    <img src="images/richard-logo-footer.png" alt="Richard logo" /></a>
  <ul class="footer__list">
    <li class="footer__item"><a class="footer__link">Instagram</a></li>
    <li class="footer__item"><a class="footer__link">Email</a></li>
    <li class="footer__item"><a class="footer__link">Facebook</a></li>
    <li class="footer__item"><a class="footer__link">Twitter</a></li>
    <li class="footer__item">
      <a class="footer__link">Image License Info</a>
    </li>
    <li class="footer__item">
      <a class="footer__link">Powered by Webflow</a>
    </li>
  </ul>
</footer>