<footer class="footer">
    <div class="footer-wraper">
        <a href="./index.html" class="richard-logo-footer">
            <img src="images/richard-logo-footer.png" alt="Richard logo" width="136" height="104"
                class="richard-logo-footer"></a>
        <address>
            <ul class="footer-address-list">
                <li class="footer-address-item"><a class="footer-address-link" href="">Instagram</a></li>
                <li class="footer-address-item"><a class="footer-address-link" href="">Email</a></li>
                <li class="footer-address-item"><a class="footer-address-link" href="">Facebook</a></li>
                <li class="footer-address-item"><a class="footer-address-link" href="">Twitter</a></li>
                <li class="footer-address-item"><a class="footer-address-link" href="">Image License Info</a></li>
                <li class="footer-address-item"><a class="footer-address-link" href="">Powered by Webflow</a></li>
            </ul>
        </address>
    </div>
</footer>