<header class="page-header">
  <div class="page-header-container container">
    <a
      class="page-header-logo link"
      href="../images/logo-min.png"
      alt="logo"
      width="120"
      height="43"
    ></a>
    <nav class="header-navigation navigation">
      <ul class="nav-list list">
        <li class="nav-item item"><a class="nav-link link" href="">About</a></li>
        <li class="nav-item item"><a class="nav-link link" href="">Features</a></li>
        <li class="nav-item item"><a class="nav-link link" href="">How to Use</a></li>
        <li class="nav-item item"><a class="nav-link link" href="">Download</a></li>
      </ul>
    </nav>
  </div>
</header>
