<section class="section-absolute">
  <header class="page-header">
    <div class="page-header-container">
      <a href="../src/index.html"><img src="../src/images/logo-min.png" alt="logo" /></a>
      <nav>
        <ul>
          <li class="nav-item"><a class="nav-link" href="">About</a></li>
          <li class="nav-item"><a class="nav-link" href="">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="">How to Use</a></li>
          <li class="nav-item"><a class="nav-link" href="">Download</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container-hero">
    <h1 class="hero-title">Momentum</h1>
    <p class="hero-text">Launch your product — and savor the momentum.</p>
    <button type="button" class="hero-btn">Get the App</button>
  </div>
</section>
