<section class="section-absolute">
  <header class="header">
      <a class="header__logo" href="../src/index.html"><img src="../src/images/logo-min.png" alt="logo" /></a>
      <nav class="header__nav">
        <ul>
          <li class="nav__item"><a class="nav__link" href="">About</a></li>
          <li class="nav__item"><a class="nav__link" href="">Features</a></li>
          <li class="nav__item"><a class="nav__link" href="">How to Use</a></li>
          <li class="nav__item"><a class="nav__link" href="">Download</a></li>
        </ul>
      </nav>

    </header>
  <div class="hero">
    <h1 class="hero__title">Momentum</h1>
    <p class="hero__text">Launch your product — and savor the momentum.</p>
    <button type="button" class="hero__btn">Get the App</button>
  </div>
</section>
