<section>
    <h2 class="visually-hidden">Organizer</h2>
    <ul>
        <li>
            <img src="" alt="Activity Notifications" width="80" />
            <h3 class="organizer-sub-title">Activity Notifications</h3>
            <p class="organizer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
        </li>
        <li>
            <img src="" alt="Custom Timing" width="73" />
            <h3 class="organizer-sub-title">Custom Timing</h3>
            <p class="organizer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
        </li>
        <li>
            <img src="" alt="Mobile Optimized" width="40" />
            <h3 class="organizer-sub-title">Mobile Optimized</h3>
            <p class="organizer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique.
            </p>
        </li>
    </ul>
</section>