<section>
  <h2 class="visually-hidden">Organizer</h2>
  <ul class="organizer-list">
    <li class="organizer-list-item">
      <!-- <img src="" alt="Activity Notifications" width="80" /> -->
      <a href="" class="organizer__href"><svg class="organizer__svg-burger">
          <use href="images/icons.svg#icon-burger"></use>
        </svg></a>
      <h3 class="organizer-sub-title">Activity Notifications</h3>
      <p class="organizer-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
    <li class="organizer-list-item">
      <!-- <img src="" alt="Custom Timing" width="73" /> -->
      <a href="" class="organizer__href"><svg class="organizer__svg-knife-spoon">
          <use href="images/icons.svg#icon-knife-spoon"></use>
        </svg></a>
      <h3 class="organizer-sub-title">Custom Timing</h3>
      <p class="organizer-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
    <li class="organizer-list-item">
      <!-- <img src="" alt="Mobile Optimized" width="40" /> -->
      <a href="" class="organizer__href"><svg class="organizer__svg-stat">
          <use href="images/icons.svg#icon-stat"></use>
        </svg></a>
      <h3 class="organizer-sub-title">Mobile Optimized</h3>
      <p class="organizer-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
  </ul>
</section>
