<section class="organizer">
  <h2 class="visually-hidden">Organizer</h2>
  <ul class="organizer__list">
    <li class="organizer__item">
      <a href="" class="organizer__href"><svg class="organizer__burger">
          <use href="images/icons.svg#icon-burger"></use>
        </svg></a>
      <h3 class="organizer__title">Activity Notifications</h3>
      <p class="organizer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
    <li class="organizer__item">
      <a href="" class="organizer__href"><svg class="organizer__knife-spoon">
          <use href="images/icons.svg#icon-knife-spoon"></use>
        </svg></a>
      <h3 class="organizer__title">Custom Timing</h3>
      <p class="organizer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
    <li class="organizer__item">
      <a href="" class="organizer__href"><svg class="organizer__stat">
          <use href="images/icons.svg#icon-stat"></use>
        </svg></a>
      <h3 class="organizer__title">Mobile Optimized</h3>
      <p class="organizer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique.
      </p>
    </li>
  </ul>
</section>
