<section class="partners">
  <h2 class="visually-hiden">Partners</h2>
  <ul class="partners__ul">
    <li class="partners__li"><a href="" class="partners__href"><svg class="partners__svg">
          <use href="images/icons.svg#icon-webflow"></use>
        </svg></a></li>
    <li class="partners__li"><a href="" class="partners__href"><svg class="partners__svg">
          <use href="images/icons.svg#icon-uber"></use>
        </svg></a></li>
    <li class="partners__li"><a href="" class="partners__href"><svg class="partners__svg">
          <use href="images/icons.svg#icon-product-hunt"></use>
        </svg></a></li>
    <li class="partners__li"><a href="" class="partners__href"><svg class="partners__svg">
          <use href="images/icons.svg#icon-microsoft"></use>
        </svg></a></li>
    <li class="partners__li"><a href="" class="partners__href"><svg class="partners__svg">
          <use href="images/icons.svg#icon-bitcoin"></use>
        </svg></a></li>
  </ul>
</section>