<section class="partners">
  <h2 class="visually-hiden">Partners</h2>
  <ul>
    <li><a href="" class="partners__href">Webflow<svg class="partners__svg">
          <use href="images/icons.svg#icon-antenna"></use>
        </svg></a></li>
    <li><a href="" class="partners__href">Uber Eats<svg class="partners__svg">
          <use href="images/icons.svg#icon-clock"></use>
        </svg></a></li>
    <li><a href="" class="partners__href">Product Hunt<svg class="partners__svg">
          <use href="images/icons.svg#icon-diagram"></use>
        </svg></a></li>
    <li><a href="" class="partners__href">Microsoft<svg class="partners__svg">
          <use href="images/icons.svg#icon-astronaut"></use>
        </svg></a></li>
    <li><a href="" class="partners__href">Bitcoin<svg class="partners__svg">
          <use href="images/icons.svg#icon-clock"></use>
        </svg></a></li>
  </ul>
</section>