<section>
  <h2 class="visually-hidden">statistic</h2>

  <ul class="statistic">
    <li class="statistic-list">
      <span class="statistic-text">+12K</span>
      <p class="statistic-name">Nibh Elit Tristique</p>
    </li>
    <li class="statistic-list">
      <span class="statistic-text">84</span>
      <p class="statistic-name">Aenean Condimentum</p>
    </li>
    <li class="statistic-list">
      <span class="statistic-text">3,07</span>
      <p class="statistic-name">Quam Inceptos</p>
    </li>
    <li class="statistic-list">
      <span class="statistic-text">24h</span>
      <p class="statistic-name">Ullamcorper</p>
    </li>
  </ul>
</section>